<!DOCTYPE html>
<html>
<head>
    <title>Image upload</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>
<% include header.ejs%>
</div>

<div class="body">
    <h3>Something went wrong: <%= error%></h3>

</div>

</body>
</html>


