<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="/css/style.css" />

</head>
<body>
<div id="header">
    <img src="/images/bridgefi_logo.png" alt="" style="margin:5px;float:right; width:100px; height:100px" />
    <h1 style="float:left; margin-left:5px;">Ticket application</h1>

</div>

</body>
</html>